* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(/assets/mountains-universe-1.png);
    background-color: rgb(22, 15, 63);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #E1E1E6;
    min-height: 93.8vh; 
}

header {
    display: flex;
    color: #C4C4CC;
    width: 43.9rem;
    margin: 4.0rem 0 0 7.2rem;
    gap: 3.2rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.4rem;
    
    font-weight: 400;
    line-height: 2.2rem;
}

ul {
    display: flex;
    width: 39.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3.2rem;
}

ul:hover {
    cursor: pointer;
}

ul li a {
    color: #C4C4CC;
    font-weight: 400;
    text-decoration: none;
}






